extends layout

block content
    .jumbotron.mt-5
        h1.display-4 Welcome to Express Passport Auth!
        p.lead This is a simple example of an Express.js application with Passport authentication and MongoDB Atlas.
        hr.my-4
        p Use the navigation links to register, login, or access protected routes.
        a.btn.btn-primary.btn-lg(href="/auth/register" role="button") Register
        a.btn.btn-secondary.btn-lg(href="/auth/login" role="button") Login
