doctype html
html
    head
        title Register
    body
        h1 Register
        form(action="/auth/register" method="POST")
            div
                label(for="email") Email:
                input(type="email" name="email" required)
            div
                label(for="password") Password:
                input(type="password" name="password" required)
            div
                button(type="submit") Register
        a(href="/auth/login") Login
